{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
      <div class="col-md-4">
      <h1>{{ _('Welcome to yet another microblog!') }}</h1>
      <p>{{ _('Only fooling around? Try "visitante" for both username and password') }}</p>
      </div>
    </div>
    <h2>{{ _('Sign In') }}</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>{{ _('New User?') }} <a href="{{ url_for('register') }}">{{ _('Click to Register!') }}</a></p>
    <p>
        {{ _('Forgot Your Password?') }}
        <a href="{{ url_for('reset_password_request') }}">{{ _('Click to Reset It') }}</a>
    </p>
{% endblock %}
